
    

body {
    margin: 0;
    font-family: "SoDo Sans SemiBold";
}
/* HEADER */
.navbar {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(115,139,230,0.7); 
    box-shadow: 0px 3px 10px 2px rgba(115,139,230,0.7);
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right div {
    margin-right: 1rem;
}
/* MAIN BODY */
#homepage-main {
    /* background-color: rgba(115,139,230,0.7); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#homepage-wrapper1 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 25rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#inner-left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: repeating-linear-gradient(-60deg, rgba(115,139,230,0.5) 0 20px, rgba(115,139,230,0.25) 0 40px);
}
#inner-left img {
    width: auto;
    height: 99%;
    border-radius: 50rem;
    border: dashed 2.5px rgb(7, 39, 249);
}
#inner-right {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
#h1 {
    height: 10%;
    font-size: 3rem;
}
#sh1 {
    height: 30%;
    font-size: large;
}
#par1 {
    height: 100%;
    text-align: -webkit-center;
    font-family: "SoDo Sans Thin";
    font-weight: 500;
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 250%;
}
#homepage-wrapper2 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 25rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
#h2-wrapper {
    display: flex;
    flex-direction: row;
}
#h2 {
    font-size: xx-large;
    padding-left: 2.5rem;
}
#main-par2 {
    margin-left: 2.5rem;
    font-family: "SoDo Sans Thin";
    font-weight: 500;
    font-size: medium;
}
.par2 {
    display: none;
    margin-left: 2.5rem;
}
#homepage-wrapper3 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 37.5rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* FOOTER */
#homepage-footer {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid black;
}
#inner-footer {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
#icon-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 10%;
}
#tag1 {
    font-family: "SoDo Sans Thin";
    font-weight: 250;
    font-size: small;
    color: grey;
}
/* FOOTER ICONS */
.fa-linkedin {  
    background: #007bb5;  
    color: white;
    
}
.fa-github {  
    background: #0b0b0c;  
    color: white;  
}  
#footer-icon-type1 {
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
}