body {
    margin: 0;
    font-family: "SoDo Sans SemiBold";
}
/* HEADER */
.navbar {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(115,139,230,0.7); 
    box-shadow: 0px 3px 10px 2px rgba(115,139,230,0.7);
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right div {
    margin-right: 1rem;
}
/* MAIN BODY */
#homepage-main {
    /* background-color: rgba(115,139,230,0.7); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#homepage-wrapper1 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 12.5rem;
    margin-top: 2.5rem;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
#h1 {
    font-size: xx-large;
}
#sh1 {
    font-size: large;
}
#par1 {
    text-align: -webkit-center;
    font-family: "SoDo Sans Thin";
    font-weight: 500;
    font-size: medium;
}
#homepage-wrapper2 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 25rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
#h2-wrapper {
    display: flex;
    flex-direction: row;
}
#h2 {
    font-size: xx-large;
    padding-left: 2.5rem;
}
#main-par2 {
    margin-left: 2.5rem;
    font-family: "SoDo Sans Thin";
    font-weight: 500;
    font-size: medium;
}
.par2 {
    display: none;
    margin-left: 2.5rem;
}
#homepage-wrapper3 {
    background-color: rgba(115,139,230,0.7);
    width: 80%;
    height: 37.5rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* FOOTER */
#homepage-footer {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid black;
}
#inner-footer {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
#footer-block {
    margin-right: 2rem;
}
#footer-header {
    font-weight:normal;
    font-size: medium;
}
#footer-par {
    font-family: "SoDo Sans Thin";
    font-weight: lighter;
    font-size: smaller;
}
/* FOOTER ICONS */
.fa-linkedin {  
    background: #007bb5;  
    color: white;
}
.fa-github {  
    background: #0b0b0c;  
    color: white;  
}  
#footer-icon-type1 {
    padding: 0.5rem;
    margin: 0.25rem;
    margin-right: 1rem;
    border-radius: 25px;
    text-decoration: none;
}