.white-text {
  color: #ffffff;
}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.output-section pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.break-spaces {
  white-space: break-spaces !important;
}

pre.break-spaces,
pre.break-spaces code {
  white-space: break-spaces !important;
}
