body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d1d0d0; /* Pewter */
  color: #5c4e4e; /* Brown */
}

header,
footer {
  color: #988686; /* Coffee Pot */
  padding: 0.5em 0;
  border-top: 1px solid #000000; /* Black */
  text-align: center;
  padding-top: 3rem;
}
#footer a {
  padding-right: 10px;
  padding-bottom: 2rem;
}
header {
  background-color: #000000;
  border-bottom: 1px solid #000000; /* Black */
}
main {
  position: relative;
}

header {
  padding: 0.25em;
  font-size: 0.5em;
}

.nav-button {
  font-size: 1.25em;
  display: inline-block;
  margin: 10px 0;
  margin-left: 10px;
  padding: 8px 20px;
  background-color: #5c4e4e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #3e3e3e;
}

.container {
  margin: 20px;
  background-color: #d1d0d0; /* Pewter */
  border-radius: 4px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.code-section,
.output-section {
  border: 1px solid #5c4e4e; /* Brown */
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff; /* White for contrast */
}

button {
  margin: 10px 0;
  background-color: #5c4e4e; /* Brown */
  color: #ffffff; /* White */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #3e3e3e; /* Darker on hover */
}

pre {
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 4px;
}

.description {
  padding: 10px;
  margin-bottom: 10px;
}

.section {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out;
  height: 0;
  overflow: hidden;
}

.section-visible {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.section[style*="block"] {
  opacity: 1;
}

#patterns {
  display: block;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 1rem;
}

#pagination-controls button {
  margin: 10px 0;
  background-color: #5c4e4e; /* Brown */
  color: white; /* White */
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
}

#pagination-controls button:hover {
  background-color: #5c4e4ec0;
}
